<!DOCTYPE HTML>
<html lang="pt-br" xml:lang="pt-br" xmlns:th="https://www.thymeleaf.org">
    <head> 
        <title>Cadastro de Cliente - Excluir</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h1>Cadastro de Cliente - Excluir</h1>     
        <span class='mensagemConsultar'> <span th:text="${cliente.mensagem}" /></span></span><br><br>        
        <a th:href="@{FrmClienteExcluir}">Excluir</a> - <a th:href="@{/}">Menu</a>   
</body>
</html>