<!DOCTYPE html>
<html lang="pt-br" xml:lang="pt-br" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Cadastro de Cliente - Consultar</title>
    </head>
    <body>
        <h1>Cadastro de Cliente - Consultar</h1>
       <form action="#" th:action="@{/ClienteConsultar}" th:object="${cliente}" method="post">
            ClienteId: <input type="text" th:field="*{clienteId}" /><br><br>
            <input type="reset" value="Limpar">
            <input type="submit" name="Consultar" value="Consultar"><br>
        </form>
        <br>
        <a th:href="@{/}">Menu</a>
    </body> 
</html>	