<!DOCTYPE html>
<html lang="pt-br" xml:lang="pt-br" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Cadastro de Cliente </title>
    </head>
    <body>
        <h1> Cadastro de Cliente </h1>	
        <h2> Menu </h2><p>
            <a th:href="@{FrmClienteIncluir}"> 1 - Incluir </a> <br>	 
            <a th:href="@{FrmClienteAlterar}"> 2 - Alterar </a> <br>	 
            <a th:href="@{FrmClienteExcluir}"> 3 - Excluir </a> <br>	  
            <a th:href="@{FrmClienteConsultar}"> 4 - Consultar </a> <br> 	
            <a th:href="@{FrmClienteListar}"> 5 - Listar </a> <br>	  
    </body>
</html>	